## COVID 19 Data- from WHO

In [1]:
import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [2]:
# file path is a variable path for folder in python standard library
url = "https://covid19.who.int/WHO-COVID-19-global-table-data.csv"
file_path = os.path.join("data", "covid")

In [3]:
# make directories in os filepath
os.makedirs(file_path, exist_ok=True)
csv_path = os.path.join(file_path,"WHO-COVID-19-gloval-data.csv")
urllib.request.urlretrieve(url,csv_path)

('data\\covid\\WHO-COVID-19-gloval-data.csv',
 <http.client.HTTPMessage at 0x1774d2f0160>)

In [4]:
df= pd.read_csv(csv_path)

In [5]:
df

,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
Global,NaN,271963258,3489.150681,4018879,51.560179,545136,5331019,68.39427,43676,0.560341,5766,NaN
United States of America,Americas,49833416,15055.292000,571461,172.645000,0,792371,239.38500,5092,1.538000,0,NaN
India,South-East Asia,34726049,2516.372000,51305,3.718000,7447,476869,34.55600,2134,0.155000,391,NaN
Brazil,Americas,22201221,10444.713000,33440,15.732000,5446,617271,290.39900,1020,0.480000,301,NaN
The United Kingdom,Europe,11097855,16347.781000,436870,643.535000,87565,146937,216.44700,802,1.181000,146,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Pitcairn Islands,Western Pacific,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN

In [6]:
# restore the row indices

df2=df.reset_index()
df2

,index,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,271963258,3489.150681,4018879,51.560179,545136,5331019,68.39427,43676,0.560341,5766,NaN
1,United States of America,Americas,49833416,15055.292000,571461,172.645000,0,792371,239.38500,5092,1.538000,0,NaN
2,India,South-East Asia,34726049,2516.372000,51305,3.718000,7447,476869,34.55600,2134,0.155000,391,NaN
3,Brazil,Americas,22201221,10444.713000,33440,15.732000,5446,617271,290.39900,1020,0.480000,301,NaN
4,The United Kingdom,Europe,11097855,16347.781000,436870,643.535000,87565,146937,216.44700,802,1.181000,146,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Pitcairn Islands,Western Pacific,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
234,Saint Helena,Africa,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
235,Tokelau,Western Pacific,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
236,Turkmenistan,Europe,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN
237,Tuvalu,Western Pacific,0,0.000000,0,0.000000,0,0,0.00000,0,0.000000,0,NaN

In [7]:
df2.rename(columns={'index': 'country'}, inplace=True)

In [8]:
df_index = df2.index
df_index

RangeIndex(start=0, stop=238, step=1)

In [9]:
df_cols = df2.columns
df_cols

Index(['country', 'Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 7 days per 100000 population',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 7 days per 100000 population',
       'Deaths - newly reported in last 24 hours'],
      dtype='object')

In [10]:
df2['country']

0                        Global
1      United States of America
2                         India
3                        Brazil
4            The United Kingdom
                 ...
233            Pitcairn Islands
234                Saint Helena
235                     Tokelau
236                Turkmenistan
237                      Tuvalu
Name: country, Length: 238, dtype: object

In [11]:
df2.dtypes

country                                                          object
Name                                                             object
WHO Region                                                        int64
Cases - cumulative total                                        float64
Cases - cumulative total per 100000 population                    int64
Cases - newly reported in last 7 days                           float64
Cases - newly reported in last 7 days per 100000 population       int64
Cases - newly reported in last 24 hours                           int64
Deaths - cumulative total                                       float64
Deaths - cumulative total per 100000 population                   int64
Deaths - newly reported in last 7 days                          float64
Deaths - newly reported in last 7 days per 100000 population      int64
Deaths - newly reported in last 24 hours                        float64
dtype: object

In [12]:
df2.shape

(238, 13)

In [13]:
df2.head()

,country,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
0,Global,NaN,271963258,3489.150681,4018879,51.560179,545136,5331019,68.39427,43676,0.560341,5766,NaN
1,United States of America,Americas,49833416,15055.292000,571461,172.645000,0,792371,239.38500,5092,1.538000,0,NaN
2,India,South-East Asia,34726049,2516.372000,51305,3.718000,7447,476869,34.55600,2134,0.155000,391,NaN
3,Brazil,Americas,22201221,10444.713000,33440,15.732000,5446,617271,290.39900,1020,0.480000,301,NaN
4,The United Kingdom,Europe,11097855,16347.781000,436870,643.535000,87565,146937,216.44700,802,1.181000,146,NaN

In [14]:
df2.tail()

,country,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
233,Pitcairn Islands,Western Pacific,0,0.0,0,0.0,0,0,0.0,0,0.0,0,NaN
234,Saint Helena,Africa,0,0.0,0,0.0,0,0,0.0,0,0.0,0,NaN
235,Tokelau,Western Pacific,0,0.0,0,0.0,0,0,0.0,0,0.0,0,NaN
236,Turkmenistan,Europe,0,0.0,0,0.0,0,0,0.0,0,0.0,0,NaN
237,Tuvalu,Western Pacific,0,0.0,0,0.0,0,0,0.0,0,0.0,0,NaN

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   country                                                       238 non-null    object
 1   Name                                                          237 non-null    object
 2   WHO Region                                                    238 non-null    int64
 3   Cases - cumulative total                                      237 non-null    float64
 4   Cases - cumulative total per 100000 population                238 non-null    int64
 5   Cases - newly reported in last 7 days                         237 non-null    float64
 6   Cases - newly reported in last 7 days per 100000 population   238 non-null    int64
 7   Cases - newly reported in last 24 hours                       238 non-null    int64
 8   Deaths - cumulative total                                     237 non-null    float64
 9   Deaths - cumulative total per 100000 population               238 non-null    int64
 10  Deaths - newly reported in last 7 days                        237 non-null    float64
 11  Deaths - newly reported in last 7 days per 100000 population  238 non-null    int64
 12  Deaths - newly reported in last 24 hours                      0 non-null      float64
dtypes: float64(5), int64(6), object(2)
memory usage: 24.3+ KB

In [16]:
df2.describe()

,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
count,2.380000e+02,237.000000,2.380000e+02,237.000000,238.000000,2.380000e+02,237.000000,238.000000,237.000000,238.000000,0.0
mean,2.285406e+06,6212.224606,3.377209e+04,137.388347,4580.974790,4.479848e+04,89.897567,367.025210,0.972879,48.453782,NaN
std,1.810009e+07,6149.957638,2.663907e+05,244.060469,36248.503505,3.533666e+05,102.078309,2907.234864,2.003064,384.388149,NaN
min,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,NaN
25%,1.054650e+04,480.846000,5.950000e+01,1.471000,0.000000,1.227500e+02,7.416000,0.000000,0.000000,0.000000,NaN
50%,9.277800e+04,4985.674000,6.215000e+02,26.140000,28.000000,1.338500e+03,57.744000,6.000000,0.129000,0.000000,NaN
75%,5.753862e+05,10120.178000,4.867000e+03,153.492000,625.250000,9.302500e+03,147.374000,55.750000,0.947000,4.000000,NaN
max,2.719633e+08,26595.483000,4.018879e+06,1652.754000,545136.000000,5.331019e+06,612.619000,43676.000000,11.861000,5766.000000,NaN

In [17]:
df2['country']

0                        Global
1      United States of America
2                         India
3                        Brazil
4            The United Kingdom
                 ...
233            Pitcairn Islands
234                Saint Helena
235                     Tokelau
236                Turkmenistan
237                      Tuvalu
Name: country, Length: 238, dtype: object

In [18]:
df2["country"].unique()

array(['Global', 'United States of America', 'India', 'Brazil',
       'The United Kingdom', 'Russian Federation', 'Turkey', 'France',
       'Germany', 'Iran (Islamic Republic of)', 'Spain', 'Argentina',
       'Italy', 'Colombia', 'Indonesia', 'Mexico', 'Poland', 'Ukraine',
       'South Africa', 'Netherlands', 'Philippines', 'Malaysia',
       'Czechia', 'Peru', 'Thailand', 'Iraq', 'Belgium', 'Canada',
       'Romania', 'Chile', 'Japan', 'Bangladesh', 'Viet Nam', 'Israel',
       'Pakistan', 'Serbia', 'Sweden', 'Austria', 'Hungary', 'Portugal',
       'Switzerland', 'Kazakhstan', 'Greece', 'Jordan', 'Cuba', 'Morocco',
       'Georgia', 'Nepal', 'Slovakia', 'United Arab Emirates', 'Bulgaria',
       'Tunisia', 'Lebanon', 'Belarus', 'Croatia', 'Ireland', 'Guatemala',
       'Azerbaijan', 'Denmark', 'Sri Lanka', 'Costa Rica',
       'Bolivia (Plurinational State of)', 'Republic of Korea',
       'Saudi Arabia', 'Ecuador', 'Myanmar', 'Lithuania', 'Panama',
       'occupied Palestinian territory, including east Jerusalem',
       'Paraguay', 'Slovenia', 'Venezuela (Bolivarian Republic of)',
       'Kuwait', 'Dominican Republic', 'Uruguay', 'Mongolia', 'Libya',
       'Honduras', 'Ethiopia', 'Republic of Moldova', 'Egypt', 'Armenia',
       'Norway', 'Oman', 'Bosnia and Herzegovina', 'Bahrain', 'Singapore',
       'Latvia', 'Kenya', 'Qatar', 'Australia', 'Estonia', 'Nigeria',
       'North Macedonia', 'Algeria', 'Finland', 'Zambia', 'Albania',
       'Botswana', 'Uzbekistan', 'Puerto Rico', 'Zimbabwe', 'Kyrgyzstan',
       'Kosovo[1]', 'Montenegro', 'Afghanistan', 'Mozambique', 'Cyprus',
       'Namibia', 'Ghana', 'China', 'Uganda', 'El Salvador', 'Cambodia',
       'Cameroon', 'Rwanda', 'Luxembourg',
       "Lao People's Democratic Republic", 'Maldives', 'Jamaica',
       'Trinidad and Tobago', 'Senegal', 'RÃ©union', 'Mauritius', 'Angola',
       'Democratic Republic of the Congo', 'Malawi', 'CÃ´te dâ€™Ivoire',
       'Eswatini', 'Guadeloupe', 'Fiji', 'Suriname',
       'Syrian Arab Republic', 'Martinique', 'French Guiana',
       'French Polynesia', 'Madagascar', 'Sudan', 'Malta', 'Mauritania',
       'Guyana', 'Cabo Verde', 'Gabon', 'Papua New Guinea', 'Belize',
       'Guinea', 'Barbados', 'United Republic of Tanzania', 'Togo',
       'Haiti', 'Benin', 'Lesotho', 'Seychelles', 'Somalia', 'Bahamas',
       'Burundi', 'Mayotte', 'Andorra', 'Iceland', 'Timor-Leste', 'Congo',
       'Mali', 'CuraÃ§ao', 'Tajikistan', 'Aruba', 'Burkina Faso', 'Jersey',
       'Brunei Darussalam', 'Guam', 'Equatorial Guinea', 'Djibouti',
       'Nicaragua', 'South Sudan', 'Saint Lucia', 'New Zealand',
       'Isle of Man', 'New Caledonia', 'Central African Republic',
       'Yemen', 'Gambia', 'Cayman Islands', 'Eritrea', 'Gibraltar',
       'United States Virgin Islands', 'Niger', 'San Marino',
       'Guinea-Bissau', 'Sierra Leone', 'Dominica', 'Grenada', 'Liberia',
       'Bermuda', 'Saint Vincent and the Grenadines', 'Chad',
       'Liechtenstein', 'Guernsey', 'Sint Maarten', 'Comoros',
       'Faroe Islands', 'Monaco', 'Antigua and Barbuda', 'Saint Martin',
       'Sao Tome and Principe', 'Turks and Caicos Islands', 'Bonaire',
       'British Virgin Islands', 'Saint Kitts and Nevis', 'Bhutan',
       'Northern Mariana Islands (Commonwealth of the)', 'Greenland',
       'Saint BarthÃ©lemy', 'Anguilla', 'Other', 'Wallis and Futuna',
       'Saint Pierre and Miquelon', 'Falkland Islands (Malvinas)',
       'Montserrat', 'Sint Eustatius', 'Holy See', 'Solomon Islands',
       'Saba', 'American Samoa', 'Palau', 'Vanuatu', 'Marshall Islands',
       'Samoa', 'Cook Islands', 'Tonga',
       "Democratic People's Republic of Korea", 'Kiribati',
       'Micronesia (Federated States of)', 'Nauru', 'Niue',
       'Pitcairn Islands', 'Saint Helena', 'Tokelau', 'Turkmenistan',
       'Tuvalu'], dtype=object)

In [19]:
#remove white spaces - amy not be needed
df2.columns = [col.strip() for col in df2.columns]
df2.columns

Index(['country', 'Name', 'WHO Region', 'Cases - cumulative total',
       'Cases - cumulative total per 100000 population',
       'Cases - newly reported in last 7 days',
       'Cases - newly reported in last 7 days per 100000 population',
       'Cases - newly reported in last 24 hours', 'Deaths - cumulative total',
       'Deaths - cumulative total per 100000 population',
       'Deaths - newly reported in last 7 days',
       'Deaths - newly reported in last 7 days per 100000 population',
       'Deaths - newly reported in last 24 hours'],
      dtype='object')

In [20]:
df2.loc[1:4,'country']

1    United States of America
2                       India
3                      Brazil
4          The United Kingdom
Name: country, dtype: object

In [21]:
df2.country == 'Ireland'

0      False
1      False
2      False
3      False
4      False
       ...
233    False
234    False
235    False
236    False
237    False
Name: country, Length: 238, dtype: bool

In [22]:
df2[df2.country == "Ireland"]

,country,Name,WHO Region,Cases - cumulative total,Cases - cumulative total per 100000 population,Cases - newly reported in last 7 days,Cases - newly reported in last 7 days per 100000 population,Cases - newly reported in last 24 hours,Deaths - cumulative total,Deaths - cumulative total per 100000 population,Deaths - newly reported in last 7 days,Deaths - newly reported in last 7 days per 100000 population,Deaths - newly reported in last 24 hours
55,Ireland,Europe,640548,12902.724,29693,598.114,4141,5835,117.536,47,0.947,0,NaN

In [23]:
df2.loc[df2.country =='Ireland',['Deaths - newly reported in last 24 hours']]

    Deaths - newly reported in last 24 hours
55                                       NaN

In [24]:
df2.loc[df2.country =='Ireland',['Deaths - newly reported in last 24 hours']].min()

Deaths - newly reported in last 24 hours   NaN
dtype: float64

In [25]:
df2.loc[df2.country =='Ireland',['Deaths - newly reported in last 24 hours']].max()

Deaths - newly reported in last 24 hours   NaN
dtype: float64

In [26]:
df2.loc[df2.country =='Ireland',['Deaths - newly reported in last 24 hours']].sum()

Deaths - newly reported in last 24 hours    0.0
dtype: float64

In [27]:
#df.New_Deaths.idxmax()  returns where new deaths were maximum in df
# as lables have changed this doesnt work
# using the column lablels below also doesn't work/ Might be due to dash?
df2.loc[df2.Deaths - newly reported in last 7 days.idxmax()

SyntaxError: invalid syntax (<ipython-input-27-193ef70ba8a5>, line 4)

In [ ]:
df2.loc[df2.country =='Ireland',['Deaths - newly reported in last 24 hours']]

In [ ]:
df2.loc[df2.country =='Ireland',['Cases - newly reported in last 24 hours']]